.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.logo {
  width: 85px;
  height: 85px;
  object-fit: contain;
  padding-top: 8px;
  padding-left: 9px;
}

.nav-items > ul {
  display: flex;
  font-size: 20px;
}

.nav-items > ul > li {
  margin: 10px;
  padding: 10px;
  list-style: none;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
}

.res-card {
  padding: 5px;
  width: 230px;
  /* height: 330px; */
  margin: 5px;
}

.res-card:hover {
  border: 1px solid black;
  cursor: pointer;
}

.search {
  padding: 10px;
}

.res-logo {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.filter-btn {
  margin: 10px;
}

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
}

.shimmer-card {
  padding: 5px;
  width: 230px;
  height: 363px;
  margin: 5px;
  background-color: #f9f9f9;
}

.shimmer-btn {
  display: block;
  width: 151px;
  height: 21px;
  background-color: #e1e1e1;
  margin: 10px;
}

.login-btn {
  margin-right: 20px;
  margin-top: 15px;
  width: 50px;
  height: 30px;
  background-color: green;
  color: white;
}

.image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  background-color: #e1e1e1;
}

.text {
  background-color: #e1e1e1;
  width: 200px;
  height: 21px;
  margin: 18px 0;
}

.text1 {
  background-color: #e1e1e1;
  width: 130px;
  height: 18px;
  margin: 21px 0;
}

.text2 {
  background-color: #e1e1e1;
  width: 100px;
  height: 18px;
  margin: 21px 0;
}

.text3 {
  background-color: #e1e1e1;
  width: 110px;
  height: 18px;
  margin: 21px 0;
}

.filter {
  display: flex;
}

.Text {
  text-decoration: none;
  color: black;
}

.user-card {
  padding: 10px;
  border: 1px solid black;
}
